<div class="image-area">
  <mat-icon>settings</mat-icon>
</div>
<div class="control-area">
  <button mat-stroked-button color="primary">{{"settings.lectorLanguage" | translate}}</button>
  <button mat-stroked-button color="primary">{{"settings.applicationLanguage" | translate}}</button>
  <button mat-stroked-button color="primary">{{"settings.help" | translate}}</button>
  <button mat-stroked-button color="primary">{{"settings.loginSettings" | translate}}</button>
  <button mat-stroked-button color="primary">{{"settings.logout" | translate}}</button>
</div>