@import '~@angular/material/theming';
@import '../values/colors';
@import './typography';
@import './core';

$sonorous-background: (
  status-bar: map_get($mat-grey, 300),
  app-bar: map_get($mat-grey, 100),
  background: map_get($mat-grey, 50),
  hover: rgba(black, 0.04),
  card: white,
  dialog: white,
  disabled-button: rgba($sonorous-base-color, 0.2),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
);

$sonorous-dark-disabled-text: rgba($sonorous-dark-grey, 0.38);

$sonorous-foreground: (
  base: $sonorous-dark-grey,
  divider: rgba($sonorous-dark-grey, 0.12),
  dividers: rgba($sonorous-dark-grey, 0.12),
  disabled: $sonorous-dark-disabled-text,
  disabled-button: rgba($sonorous-dark-grey, 0.12),
  disabled-text: $sonorous-dark-disabled-text,
  elevation: $sonorous-dark-grey,
  hint-text: $sonorous-dark-disabled-text,
  secondary-text: rgba($sonorous-dark-grey, 0.54),
  icon: rgba($sonorous-dark-grey, 0.54),
  icons: rgba($sonorous-dark-grey, 0.54),
  text: rgba($sonorous-dark-grey, 0.87),
  slider-min: rgba($sonorous-dark-grey, 0.87),
  slider-off: rgba($sonorous-dark-grey, 0.26),
  slider-off-active: rgba($sonorous-dark-grey, 0.38)
);

@function create-sonorous-theme($foreground, $background) {
  @return (
    primary: mat-palette($sonorous-teal, 1),
    accent: mat-palette($sonorous-accent, 1),
    warn: mat-palette($sonorous-red, 1),
    is-dark: false,
    foreground: $foreground,
    background: $background
  );
}

@mixin theme-sonorous {
  color: map-get($sonorous-foreground, base);
  $sonorous-theme: create-sonorous-theme($sonorous-foreground, $sonorous-background);

  @include sonorous-core();
  @include mat-core-theme($sonorous-theme);
  @include mat-autocomplete-theme($sonorous-theme);
  @include mat-badge-theme($sonorous-theme);
  @include mat-bottom-sheet-theme($sonorous-theme);
  @include mat-button-theme($sonorous-theme);
  @include mat-button-toggle-theme($sonorous-theme);
  @include mat-card-theme($sonorous-theme);
  @include mat-checkbox-theme($sonorous-theme);
  @include mat-chips-theme($sonorous-theme);
  @include mat-table-theme($sonorous-theme);
  @include mat-datepicker-theme($sonorous-theme);
  @include mat-dialog-theme($sonorous-theme);
  @include mat-divider-theme($sonorous-theme);
  @include mat-expansion-panel-theme($sonorous-theme);
  @include mat-form-field-theme($sonorous-theme);
  @include mat-grid-list-theme($sonorous-theme);
  @include mat-icon-theme($sonorous-theme);
  @include mat-input-theme($sonorous-theme);
  @include mat-list-theme($sonorous-theme);
  @include mat-menu-theme($sonorous-theme);
  @include mat-paginator-theme($sonorous-theme);
  @include mat-progress-bar-theme($sonorous-theme);
  @include mat-progress-spinner-theme($sonorous-theme);
  @include mat-radio-theme($sonorous-theme);
  @include mat-select-theme($sonorous-theme);
  @include mat-option-theme($sonorous-theme);
  @include mat-sidenav-theme($sonorous-theme);
  @include mat-slide-toggle-theme($sonorous-theme);
  @include mat-slider-theme($sonorous-theme);
  @include mat-stepper-theme($sonorous-theme);
  @include mat-sort-theme($sonorous-theme);
  @include mat-tabs-theme($sonorous-theme);
  @include mat-toolbar-theme($sonorous-theme);
  @include mat-tooltip-theme($sonorous-theme);
  @include mat-tree-theme($sonorous-theme);
  @include mat-snack-bar-theme($sonorous-theme);
}
