:host {
    display: flex;
    flex-wrap: wrap;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;

    sonorous-ui-list-button {
        margin: 3%;
    }
}

.progress-spinner-container {
    display: flex;
    flex: 1 1 auto;
    height: 80vh;
    justify-content: center;
    align-items: center;
}