@import "sonorous-ui/src/values/colors";
@import "sonorous-ui/src/values/spacings";

:host {
    display: flex;
    flex-direction: column;
}

.image-area {
    background-color: $sonorous-blue-medium;
    flex: 0 1 250px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;

    .add-image-area {
        position: absolute;
        right: 30%;
        display: flex;
        top: 13%;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: $sonorous-yellow-medium;

        &:hover {
            cursor: pointer;
        }
    }

    .image-container {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    .image-label {
        font-size: 20px;
        color: $sonorous-white;
        margin-top: 12px;
    }
}

.form-row {
    padding: 0 $spacing-large;
    flex: 1 1 auto;
    display: flex;

    &:first-child {
        margin-top: $spacing-small;
    }

    &>* {
        flex: 1 1 auto;
    }
}