$sonorous-blue-light:#5CC0C7;
$sonorous-blue-medium:#079BAB;
$sonorous-blue-dark:#005D70;

$sonorous-yellow-light:#FFDE8B;
$sonorous-yellow-medium:#FFC432;
$sonorous-yellow-dark:#D1A027;

$sonorous-black: #0D212C;
$sonorous-white: #F7FCFF;
$sonorous-dark-grey: $sonorous-black;

$sonorous-base-color: $sonorous-blue-medium;
$sonorous-error-color: #FF3232;

$sonorous-teal: (1: $sonorous-blue-dark,
    contrast: (1: $sonorous-black,
    ));

$sonorous-red: (1: $sonorous-error-color,
    contrast: (1: $sonorous-black,
    ));

$sonorous-accent: (1: $sonorous-yellow-medium,
    contrast: (1: $sonorous-black,
    ));